<div class="container">
  <br>
  <h3> Update my booking </h3>
</div>

  <div class="col-sm-12 col-lg-6">
      <div class="d-flex justify-content-between">
          <%= simple_form_for [@locker, @booking], method: :patch do |f| %>
        <div class="d-flex">
          <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :start_time, as: :string, required: false, input_html: {class: "timepicker"} %>
        </div>
        <div class="d-flex justify-content-between">
          <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :end_time, as: :string, required: false, input_html: {class: "timepicker"} %>
        </div>
          <%= f.button :submit, "Change", class: "btn btn-flat" %>
          <% end %>
      </div>
  </div>
