<div class="container">
  <div class="card">
    <br>
    <h1>My Bookings</h1>
    </br>
    <ul>
      <% @bookings.each do |booking| %>
      <li><%= booking.start_date %>
      <%= booking.end_date %></li>
      <% end %>
    </ul>
  </div>
</div>

<!--
<div class="container">
  <table class="table table-striped">
    <br>
      <h1>My Bookings</h1>
    </br>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start-date</th>
      <th scope="col">End-date</th>
      <th scope="col">Hours</th>
    </tr>
  </thead>
<!--     <div class="card"> -->
     <tbody>
    <tr>
      <% @bookings.each do |booking| %>
      <th scope="row">1</th>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td></td>
    </tr>
  </tbody>
<!--     </div> -->
  </table>
</div>
 -->



<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
 -->
