
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
  <%= link_to lockers_path, class: "navbar-brand" do %>
    <i class="fas fa-box-open"></i>
<!--       <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
 -->    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <% if user_signed_in? %>

      <li class="nav-item dropdown">
        <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1580586175/ntpyaym6fuq3mq3ktv3t.jpg", class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", profile_path, class: "dropdown-item" %>
          <%= link_to "My Bookings", my_bookings_path, class: "dropdown-item" %>
          <%= link_to "My Lockers", my_lockers_path, class: "dropdown-item" %>
          <%= link_to "Add Locker", new_locker_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path,  method: :delete, class: "dropdown-item" %>
        </div>
      </li>

        <% else %>

        <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

</div>
