<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Address</th>
        <th scope="col">Price</th>
      </tr>
    </thead>

    <tbody>
      <% count = 1 %>
      <% @bookings.each do |booking| %>
        <tr>
          <th scope="row"><%= count %></th>
          <td> <%= booking.start_date %>
               <%= booking.start_time %></td>
          <td> <%= booking.end_date %>
               <%= booking.end_time %></td>
          <td> <%= booking.locker.address %></td>
          <td> <%= booking.locker.price %> €/h </td>
        </tr>
        <% count += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
