<div class="container">

<p id="notice"><%= notice %></p>

<h1>Locas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locas.each do |loca| %>
      <tr>
        <td><%= loca.name %></td>
        <td><%= loca.address %></td>
        <td><%= link_to 'Show', loca %></td>
        <td><%= link_to 'Edit', edit_loca_path(loca) %></td>
        <td><%= link_to 'Destroy', loca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loca', new_loca_path %>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

