<h3>Edit locker</h3>

<div class="container">
  <%= simple_form_for @locker do |f| %>
    <%= f.input :address %>
    <%= f.input :size, collection: ['S','M','L'] %>
    <%= f.input :price, label: 'Price per hour', input_html: {min: "1"}%>
    <%= f.button :submit %>
  <% end %>
</div>
