<head>
<title>new Loca Lockers index</title>
</head>


  <div class="row">
    <div class="col-lg-6" id="card-index">
      <div class="huhus" ></div>
      <div class="cards-1-colum">
        <%= render 'shared/card' %>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div
        id="map"
        style="width: 98%;
        height: 800px;
        margin-top: 20px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<!--       <div class="sidemap">
        <div
          id="map"
          style="width: 100%;
          height: 800px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div> -->
      </div>
  </div>
</div>


