<div class="container">
  <br>
    <h1>Add locker</h1>
    <br>
  <%= simple_form_for @locker do |f| %>
    <%= f.input :address %>
    <%= f.input :size, collection: ['S - W40 | H40 | 40cm','M - W70 | H40 | 70cm','L - W90 | H60 | 90cm'] %>
    <%= f.input :price, label: 'Price per hour', input_html: {min: "1"}%>
    <%= f.button :submit,"Add Locker", class: "btn btn-flat" %>
<% end %>

</div>
