<div class="container" id="show">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 100%;">
        <img src="https://source.unsplash.com/8528gpeukK8" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lockers Title</h5>
          <p class="card-text">Locker Description</p>
        </div>
      </div>
    </div>

    <div class="col">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email-address">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="hours-required">Hours Required</label>
          <select class="form-control" id="hours">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="form-group">
          <%= simple_form_for @booking do |f| %>
            <%= f.input :start_date, as: :datetime,
                             order: [:day, :month, :year]%>
            <%= f.input :end_date, as: :datetime,
                           order: [:day, :month, :year] %>
            <%= f.button :submit %>
          <% end %>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary">Reserve</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="show-map">
    <div class="col">
      <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
</div>
