<div class="container" id="show">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 100%;">
        <%= image_tag @locker.photo, class: 'card-img-top' %>
        <div class="card-body">
              <h5 class="card-title">
                <%= @locker.address %>
              </h5>
              <p class="card-text">
                <%= @locker.size %> |
                <%= @locker.price %> €/h
              </p>
        </div>
      </div>
    </div>

    <div class="col">
      <form>
        <div class="form-group">
          <%= simple_form_for @booking do |f| %>
            <%= f.input :start_date, as: :datetime,
                             order: [:day, :month, :year]%>
            <%= f.input :end_date, as: :datetime,
                           order: [:day, :month, :year] %>
            <%= f.button :submit, "Booking", class: "btn btn-flat" %>
          <% end %>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="show-map">
    <div class="col">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="538" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
